[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	branch = master
	ignore = all
[submodule "snippets"]
	path = snippets
	url = https://github.com/triglav/vim-snippets.git
	branch = master
	ignore = all
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
	ignore = all
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
	ignore = all
[submodule "bundle/visual-increment"]
	path = bundle/visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
	branch = master
	ignore = all
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
	branch = master
	ignore = all
[submodule "bundle/glsl"]
	path = bundle/glsl
	url = https://github.com/Nemo157/glsl.vim.git
	branch = master
	ignore = all
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
	branch = master
	ignore = all
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
	ignore = all
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
	ignore = all
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	branch = master
	ignore = all
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	branch = master
	ignore = all
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
	ignore = all
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	branch = master
	ignore = all
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
	ignore = all
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
	branch = master
	ignore = all
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
	ignore = all
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	branch = master
	ignore = all
[submodule "bundle/cpp"]
	path = bundle/cpp
	url = https://github.com/vim-jp/cpp-vim.git
	branch = master
	ignore = all
[submodule "bundle/googletest-syntax"]
	path = bundle/googletest-syntax
	url = https://github.com/triglav/googletest-syntax.git
	branch = master
	ignore = all
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	branch = master
	ignore = all
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/triglav/vim-ultisnips.git
[submodule "bundle/you-complete-me"]
	path = bundle/you-complete-me
	url = https://github.com/Valloric/YouCompleteMe.git
	branch = master
	ignore = all
[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
	branch = master
	ignore = all
