[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/akitaonrails/snipmate.vim.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/triglav/vim-snippets.git
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = https://github.com/scrooloose/nerdcommenter.git
