[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/akitaonrails/snipmate.vim.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/triglav/vim-snippets.git
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/visual-increment"]
	path = bundle/visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/glsl"]
	path = bundle/glsl
	url = https://github.com/Nemo157/glsl.vim.git
